@media (max-width: 3000px) {
  .service_section .service_container .col-md-4 {
    -ms-flex-preferred-size: 48%;
    flex-basis: 20%;
  }
}

@media (min-width: 2000px) {
  .index_title_section .box {
    margin-bottom: 11%;
  }
}

@media (max-width: 2000px) {
  .service_section .service_container .col-md-4 {
    -ms-flex-preferred-size: 48%;
    flex-basis: 30%;
  }
}

@media (max-width: 1800px) {
  .index_carousel_section .img_container .carousel-inner {
    width: 30em;
  }

  .index_carousel_section .img_container {
    width: 30em;
  }

  .index_carousel_section .box .titles h3 {
    right: -23%;
  }
}

@media (max-width: 1560px) {
  .index_title_section .box {
    margin-top: 1%;
  }

  .index_carousel_section .img_container .carousel-inner {
    width: 25em;
  }

  .index_carousel_section .img_container {
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .index_carousel_section .box .titles h3 {
    right: 0%;
  }
}

@media (max-width: 1380px) {
  .blog_section .box .detail-box {
    padding: 10px 5px;
    height: 160px;
  }

  .index_title_section .box {
    text-align: center;
    width: 100%;
    right: 0;
    margin-bottom: 10%;
    margin-top: 10%;
  }
}

@media (max-width: 1350px) {
  .blog_section .box .detail-box {
    padding: 10px 5px;
    height: 160px;
  }

  .index_carousel_section .box .titles {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1250px) {
  .index_title_section .box {
    margin-top: 5%;
    padding: 5%;
  }
}

@media (max-width: 1200px) {
  .blog_section .box .detail-box {
    padding: 10px 5px;
  }

  .about_section .img_container .img-box.b2 {
    margin-top: -5%;
  }
}

@media (max-width: 1150px) {
  .index_title_section .box {
    margin-top: 0%;
    padding-top: 0%;
  }
}

@media (max-width: 992px) {
  .hero_area {
    height: auto;
  }

  .header_section {
    padding-top: 10px;
    margin-left: -30px;
  }

  #navbarSupportedContent {
    margin-top: 25px;
  }

  .slider_section {
    padding-top: 75px;
    padding-bottom: 150px;
  }

  .about_section .img-box {
    margin: 0 5%;
  }

  .about_section .detail-box {
    margin-right: 5%;
  }

  .service_section .service_container .col-md-4 {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
  }

  .box-nouvelles .detail-box a {
    font-size: 13px;
  }

  .service_section .service_container .box-nouvelles {
    height: 145px;
  }
}

@media (min-width: 800px) {
  .container {
    width: 80%;
  }

  .nav-item {
    align-self: center;
  }
}

@media (max-width: 800px) {
  .index_title_section .box h1 {
    font-size: 250%;
  }
}

@media (max-width: 768px) {
  .slider_section .detail_box {
    text-align: center;
  }

  .slider_section .img_content {
    margin-top: 55px;
  }

  .contact_section .map_container {
    margin-top: 45px;
  }

  .info_section .info_contact a {
    margin-bottom: 15px;
  }

  .info_section .info_social {
    justify-content: center;
  }

  .tilt {
    justify-content: center;
  }

  .service_section .service_container .col-md-4 {
    flex-basis: 98%;
  }

  .contact_section form {
    padding-right: 0;
  }

  .info_section .info_contact a {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .index_title_section .box p {
    margin-top: 15%;
  }

  .index_title_section .box h1 {
    margin-top: 10%;
  }
}

@media (max-width: 576px) {
  .detail-box h1 {
    font-size: 1, 5rem;
  }

  .about_section .img_container .img-box.b1 {
    width: 80%;
  }

  .about_section .img_container .img-box.b2 {
    width: 55%;
  }

  .info_section .info_form form {
    flex-direction: column;
  }

  .info_section .info_form form input {
    width: 100%;
  }

  .info_section .info_form form button {
    margin-top: 15px;
    padding: 10px 40px;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next,
  .about_section .carousel-control-prev,
  .about_section .carousel-control-next {
    right: 0;
  }
}

@media (max-width: 360px) {
}
