body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-image: url("../images/bg.png");
}

.layout_padding {
  padding-top: 1em;
  padding-bottom: 2em;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-right: 10px;
  color: #092249;
}

.heading_container img {
  width: 30px;
}

/*header section*/
.hero_area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sub_page .hero_area {
  height: auto;
}

.header_section .container {
  padding-top: 10px;
  padding-bottom: 20px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.nav-item.active {
  background-color: #97bdee;
  border-radius: 35px;
  color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.nav-item:hover {
  transition: background-color 0.3s ease-out 100ms;
  background-color: #183e7a;
  border-radius: 35px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.about_nav-item {
  margin: 2%;
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
}

.about_nav-item:hover {
  transition: background-color 0.3s ease-out 100ms;
  background-color: #c6e2e6ab;
  border-radius: 35px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.nav-link:hover,
.nav-link-deroulant:hover {
  color: #ffffff;
}

.about_nav-link:hover {
  color: #092249;
  text-decoration: none;
}

.custom_nav-container .nav-link,
.custom_nav-container .nav-link-deroulant {
  padding: 7px 20px;
  margin: 10px 15px;
  text-align: center;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 13px;
}

.about_custom_nav-container .about_nav-link,
.about_custom_nav-container .about_nav-link-deroulant {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 15px;
  color: #092249;
}

.nav-link,
.nav-link-deroulant {
  color: #092249;
}

.sous-deroulant {
  display: none;
  box-shadow: 0px 1px 2px #0c0c0c;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.navbar-nav > ul li .sous-deroulant {
  display: block;
}

.navbar-nav ul li {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

.sous-deroulant li {
  float: none;
  width: 100%;
  text-align: center;
}

.sous-deroulant a {
  padding: 10px;
  border-bottom: none;
}

.sous-deroulant a:hover {
  border-bottom: none;
  background-color: rgba(200, 200, 200, 0.1);
}

.nav-link-deroulant > a::after {
  content: " ▼";
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand img {
  margin-right: 5px;
  width: 35px;
}

.navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: #092249;
}

.custom_nav-container {
  z-index: 99999;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #092249;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
  transform: none;
}

.about_custom_nav-container .about_navbar-toggler {
  outline: none;
}

.about_custom_nav-container .about_navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
}

.about_custom_nav-container .about_navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #092249;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about_custom_nav-container .about_navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.about_custom_nav-container .about_navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.about_custom_nav-container .about_navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.about_custom_nav-container .about_navbar-toggler[aria-expanded="false"] .s-1,
.about_custom_nav-container .about_navbar-toggler[aria-expanded="false"] .s-2,
.about_custom_nav-container .about_navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
  transform: none;
}

/*end header section*/
/*index section*/

.index_presentation_section {
  margin-bottom: 5%;
}

.index_presentation_section .box {
  text-align: right;
  margin-bottom: 5em;
  position: absolute;
  width: 100%;
  z-index: -10;
  background-color: #fff;
  box-shadow: 0 6px 20px -7px gray;
}

.index_presentation_section .box img {
  opacity: 0.3;
  width: 100%;
}

.index_title_section {
  text-align: right;
}

.index_title_section .box {
  color: #000000;
  text-align: right;
  margin-right: 10%;
  margin-top: 8%;
  margin-bottom: 8%;
  width: 40%;
  position: relative;
  right: -55%;
}

.index_title_section .box h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #092249;
  font-size: 350%;
}

.index_title_section .box p {
  margin-top: 20px;
  font-weight: 600;
}

.index_title_section .box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #20b2aa;
  box-shadow: 0 0 10px 0 rgba(9, 73, 52);
  color: #000000;
  border-radius: 35px;
  margin-top: 35px;
  transition: all 0.3s ease-out 100ms;
  font: normal 18px "Open Sans", cursive;
}

.index_title_section .box a:hover {
  background-color: #0e5753;
  color: #fff;
  text-decoration: none;
}

.index_carousel_section {
  text-align: center;
  margin-bottom: 5em;
}

.index_carousel_section .box h2 {
  position: relative;
  font-weight: bold;
  margin-right: 10px;
  color: #092249;
}

.index_carousel_section .box .titles {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.index_carousel_section .box .titles h3 {
  padding: 10px 40px;
  background-color: #97bdee;
  color: #000000;
  border-radius: 35px;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 15em;
  font-size: 1.2em;
  position: relative;
  right: -25%;
}

.index_carousel_section .carousels {
  display: flex;
  justify-content: space-around;
}

.index_carousel_section .img_container {
  text-align: center;
}

.index_carousel_section .img_container .carousel-inner {
  border: 2px;
  border-radius: 20%;
  box-shadow: 0 0 10px 0 rgba(9, 34, 73, 10);
  overflow: hidden;
  transition: box-shadow 0.3s ease-out 100ms;
  width: 35em;
  position: relative;
  margin: 10px;
}

.index_carousel_section .img_container div#carouselExampleContarols {
  width: 100%;
}

.index_carousel_section .img_container .img-box img {
  width: 100%;
}

.index_carousel_section .carousel-control-prev,
.index_carousel_section .carousel-control-next {
  width: 5%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
  height: 20%;
  position: absolute;
  top: 50%;
}

.index_carousel_section .carousel-control-prev {
  background-image: url(../images/prev.png);
  background-color: #20b2aa;
  transition: background-color 0.3s ease-out 100ms;
  border-top-right-radius: 200% 100%;
  border-bottom-right-radius: 200% 100%;
}

.index_carousel_section .carousel-control-next {
  background-image: url(../images/next.png);
  background-color: #20b2aa;
  transition: background-color 0.3s ease-out 100ms;
  border-top-left-radius: 200% 100%;
  border-bottom-left-radius: 200% 100%;
}

.index_carousel_section .carousel-control-prev:hover,
.index_carousel_section .carousel-control-next:hover {
  background-color: #0e5753;
}

/*end index section*/
/* slider section */

.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
  color: #3b3a3a;
  padding-bottom: 90px;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .detail_box {
  color: #000000;
}

.slider_section .detail_box h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #092249;
}

.slider_section .detail_box p {
  margin-top: 20px;
}

.slider_section .detail_box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #254dad;
  color: #ffffff;
  border-radius: 35px;
  margin-top: 35px;
  transition: background-color 0.3s ease-out 100ms;
}

.slider_section .detail_box a:hover {
  background-color: #183e7a;
  text-decoration: none;
}

/*end slider section*/
/*about section*/

.about_presentation_section {
  margin-bottom: 5%;
}

.about_presentation_section .box {
  text-align: right;
  margin-bottom: 5em;
  position: absolute;
  width: 100%;
  z-index: -10;
  background-color: #fff;
  box-shadow: 0 6px 20px -7px gray;
}

.about_presentation_section .box img {
  opacity: 0.3;
  width: 100%;
}

.about_title_section {
  margin-top: 10%;
  margin-bottom: 10%;
}

.about_title_section .carousel-control-prev,
.about_title_section .carousel-control-next {
  top: initial;
  left: initial;
  bottom: 5%;
  right: 10%;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
}

.about_title_section .carousel-control-prev {
  background-image: url(../images/prev.png);
  background-color: #925c2f;
  -webkit-transform: translate(-85px, 30px);
  transform: translate(-800px, -500%);
  transition: background-color 0.3s ease-out 100ms;
}

.about_title_section .carousel-control-next {
  background-image: url(../images/next.png);
  background-color: #925c2f;
  -webkit-transform: translate(-45px, 0);
  transform: translate(-170px, -500%);
  transition: background-color 0.3s ease-out 100ms;
}

.about_title_section .carousel-control-prev:hover,
.about_title_section .carousel-control-next:hover {
  background-color: #684121;
}

.about_title_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_title_section .img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about_title_section .img_container .img-box {
  border: 5px solid #97bdee;
  border-radius: 100%;
  overflow: hidden;
}

.about_title_section .img_container .img-box.b1 {
  width: 50%;
}

.about_title_section .img_container .img-box.b2 {
  width: 30%;
  margin-left: auto;
  margin-top: -50%;
}

.about_title_section .img_container .img-box img {
  width: 100%;
}

.about_title_section .detail-box {
  text-align: center;
}

.about_title_section .detail-box h5 {
  position: relative;
  margin-right: 8px;
  color: #183e7a;
}

.about_title_section .detail-box p {
  margin-top: 25px;
}

.about_title_section .container a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #20b2aa;
  box-shadow: 0 0 10px 0 rgba(9, 73, 52);
  color: #000000;
  border-radius: 35px;
  margin-top: 35px;
  transition: all 0.3s ease-out 100ms;
  font: normal 18px "Open Sans", cursive;
  margin-bottom: 2%;
}

.about_title_section .container a:hover {
  background-color: #0e5753;
  color: #fff;
  text-decoration: none;
}

.about_title_section .detail-box {
  background-color: #c6e2e683;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(9, 34, 73, 10);
  overflow: hidden;
}

.about_event_section {
  display: flex;
  flex-direction: row;
}

.about_event_section .container {
  margin-bottom: 5%;
}

.about_event_section .about_event_content {
  display: flex;
  flex-direction: column;
}

.about_event_section .detail-box {
  text-align: center;
}

.about_event_section .detail-box h5 {
  position: relative;
  margin-right: 8px;
  color: #183e7a;
}

.about_event_section .detail-box p {
  margin-top: 25px;
}

.about_event_section .col-md-6 .detail-box {
  background-color: #c6e2e652;
  padding: 10px;
  border-radius: 2%;
  box-shadow: 0 0 10px 0 rgba(9, 34, 73, 10);
  overflow: hidden;
}

.about_event_section .about_navbar {
  padding-left: 2%;
  padding-right: 2%;
  width: 60%;
  position: sticky;
  top: 30%;
  align-self: flex-start;
}

.about_event_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  padding: 10px 40px;
  box-shadow: 0 0 5px 0 rgba(9, 73, 52);
  color: #092249;
  border-radius: 35px;
  margin-top: 35px;
  transition: all 0.3s ease-out 100ms;
  font: normal 18px "Open Sans", cursive;
}

.about_event_menu a {
  padding-left: 10%;
}

.sauvetage_section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sauvetage_section .sauvetage_title {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 2%;
}

.sauvetage_section .sauvetage_title h2 {
  position: relative;
  font-weight: bold;
  color: #092249;
}

.sauvetage_section .sauvetage_search_bar {
  margin-bottom: 2%;
}

.sauvetage_content {
  display: flex;
  flex-direction: column;
}

.sauvetage_content .sauvetage_box {
  display: flex;
  padding: 2% 0%;
  flex-direction: row;
  background-color: #c6e2e683;
}

.sauvetage_content .sauvetage_box p {
  margin-right: 4%;
}

.sauvetage_content .sauvetage_box .sauvetage_content_title {
  margin-right: 4%;
  color: #092249;
  font-weight: 600;
  font-size: 1.5em;
  padding: 1% 2%;
  margin-left: 0%;
  border-radius: 50px;
  transition: all 0.2s ease-out 100ms;
  width: fit-content;
}

.sauvetage_content .sauvetage_box_reverse {
  display: flex;
  padding: 2% 0%;
  flex-direction: row-reverse;
  box-shadow: 0 6px 20px -7px gray;
  background-color: #c9dcf469;
}

.sauvetage_content .sauvetage_box_reverse p {
  margin-left: 4%;
}

.sauvetage_content .sauvetage_box_reverse .sauvetage_content_title {
  margin-left: 4%;
  color: #092249;
  font-weight: 600;
  font-size: 1.5em;
  padding: 1% 2%;
  margin-right: 0%;
  border-radius: 50px;
  transition: all 0.2s ease-out 100ms;
  width: fit-content;
}

.sauvetage_content .sauvetage_box_reverse .sauvetage_content_title:hover {
  background-color: #0e575362;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.sauvetage_content .sauvetage_box .sauvetage_content_title:hover {
  background-color: #0e575362;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.sauvetage_img_box {
  display: flex;
  align-items: center;
  padding: 2% 2%;
}

.sauvetage_img_box img {
  width: 300px;
  border-radius: 35px;
}

.sauvetage_img_box p {
  width: 100%;
}

.sauvetage_content_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sauvetage_custom_nav-container .sauvetage_navbar-toggler {
  outline: none;
}

.sauvetage_custom_nav-container .sauvetage_navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
}

.sauvetage_custom_nav-container .sauvetage_navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #092249;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sauvetage_custom_nav-container
  .sauvetage_navbar-toggler[aria-expanded="true"]
  .s-1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.sauvetage_custom_nav-container
  .sauvetage_navbar-toggler[aria-expanded="true"]
  .s-2 {
  display: none;
}

.sauvetage_custom_nav-container
  .sauvetage_navbar-toggler[aria-expanded="true"]
  .s-3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.sauvetage_custom_nav-container
  .sauvetage_navbar-toggler[aria-expanded="false"]
  .s-1,
.sauvetage_custom_nav-container
  .sauvetage_navbar-toggler[aria-expanded="false"]
  .s-2,
.sauvetage_custom_nav-container
  .sauvetage_navbar-toggler[aria-expanded="false"]
  .s-3 {
  -webkit-transform: none;
  transform: none;
}

.sauvetage_navbar {
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  position: sticky;
  top: -5px;
  align-self: flex-start;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.sauvetage_navbar-collapse {
  max-width: 50%;
  background-color: #97bdee;
  overscroll-behavior: contain;
}

.sauvetage_navbar-collapse a {
  font-size: 15px;
  text-decoration: none;
  color: #092249;
  padding: 4%;
}

.sauvetage_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  color: #092249;
  border-radius: 35px;
  transition: all 0.3s ease-out 100ms;
  font: normal 18px "Open Sans", cursive;
  box-shadow: 0 6px 20px -7px gray;
  background-color: #97bdee;
  width: 100%;
}

.sauvetage_menu a {
  padding-left: 10%;
}

.sauvetage_nav-item a {
  color: #092249;
  transition: all 0.15s ease-out 100ms;
}

.sauvetage_nav-item a:hover {
  background-color: #c6e2e683;
  border-radius: 50px;
  padding: 7px;
  text-decoration: none;
}

#myInput {
  width: 250px;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-bottom: 12px;
}

#myInput:focus {
  background-color: #c6e2e683;
}

/*adopt section*/

.adopt_presentation_section {
  margin-bottom: 5%;
}

.adopt_presentation_section .box {
  text-align: right;
  margin-bottom: 5em;
  position: absolute;
  width: 100%;
  z-index: -10;
  background-color: #fff;
  box-shadow: 0 6px 20px -7px gray;
}

.adopt_presentation_section .box img {
  opacity: 0.3;
  width: 100%;
}

.adopt_title_section {
  text-align: left;
}

.adopt_title_section .box {
  color: #000000;
  text-align: left;
  margin-right: 10%;
  margin-top: 8%;
  margin-bottom: 13%;
  width: 43%;
  position: relative;
  right: -4%;
}

.adopt_title_section .box h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #092249;
  font-size: 350%;
}

.adopt_title_section .box p {
  margin-top: 20px;
  font-weight: 600;
}

.adopt_title_section .box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #20b2aa;
  box-shadow: 0 0 10px 0 rgba(9, 73, 52);
  color: #000000;
  border-radius: 35px;
  margin-top: 35px;
  transition: all 0.3s ease-out 100ms;
  font: normal 18px "Open Sans", cursive;
}

.adopt_title_section .box a:hover {
  background-color: #0e5753;
  color: #fff;
  text-decoration: none;
}

.adopt_carousel_section {
  text-align: center;
  margin-bottom: 5em;
}

.adopt_carousel_section .box h2 {
  position: relative;
  font-weight: bold;
  margin-right: 10px;
  color: #092249;
}

.adopt_carousel_section .box .titles {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.adopt_carousel_section .box .titles h3 {
  padding: 10px 40px;
  background-color: #97bdee;
  color: #000000;
  border-radius: 35px;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 15em;
  font-size: 1.2em;
  position: relative;
  right: -25%;
}

.adopt_carousel_section .carousels {
  display: flex;
  justify-content: space-around;
}

.adopt_carousel_section .img_container {
  text-align: center;
}

.adopt_carousel_section .img_container .carousel-inner {
  border: 2px;
  border-radius: 20%;
  box-shadow: 0 0 10px 0 rgba(9, 34, 73, 10);
  overflow: hidden;
  transition: box-shadow 0.3s ease-out 100ms;
  width: 35em;
  position: relative;
  margin: 10px;
}

.adopt_carousel_section .img_container div#carouselExampleContarols {
  width: 100%;
}

.adopt_carousel_section .img_container .img-box img {
  width: 100%;
}

.adopt_carousel_section .carousel-control-prev,
.adopt_carousel_section .carousel-control-next {
  width: 5%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
  height: 20%;
  position: absolute;
  top: 50%;
}

.adopt_carousel_section .carousel-control-prev {
  background-image: url(../images/prev.png);
  background-color: #20b2aa;
  transition: background-color 0.3s ease-out 100ms;
  border-top-right-radius: 200% 100%;
  border-bottom-right-radius: 200% 100%;
}

.adopt_carousel_section .carousel-control-next {
  background-image: url(../images/next.png);
  background-color: #20b2aa;
  transition: background-color 0.3s ease-out 100ms;
  border-top-left-radius: 200% 100%;
  border-bottom-left-radius: 200% 100%;
}

.adopt_carousel_section .carousel-control-prev:hover,
.adopt_carousel_section .carousel-control-next:hover {
  background-color: #0e5753;
}

.adopt_carousel_section .box_tarifs img {
  width: 80%;
}

/*end adopt section*/
/*why section*/

.why_section {
  margin-top: 50px;
  margin-bottom: 100px;
}

.why_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.why_title h2 {
  font-weight: bold;
  margin-right: 10px;
  color: #092249;
}

.why_content {
  margin-top: 2%;
}

.why_content a {
  padding: 10px 40px;
  background-color: #20b2aa;
  box-shadow: 0 0 10px 0 rgba(9, 73, 52);
  color: #000000;
  border-radius: 35px;
  margin-top: 35px;
  transition: all 0.3s ease-out 100ms;
  font: normal 18px "Open Sans", cursive;
}

.why_content a:hover {
  background-color: #0e5753;
  color: #fff;
  text-decoration: none;
}

.why_img_content {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.why_content p {
  margin-bottom: 50px;
}

.why_img_box {
  flex-basis: 20%;
  margin: 1%;
  border-radius: 15px;
  overflow: hidden;
}

.why_img_box img {
  width: 100%;
}

.help_section {
  margin-top: 30px;
  margin-bottom: 80px;
}

.help_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.help_title h2 {
  font-weight: bold;
  margin-right: 10px;
  color: #092249;
}

.help_content {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help_content a {
  padding: 10px 20px;
  background-color: #20b2aa;
  box-shadow: 0 0 10px 0 rgba(9, 73, 52);
  color: #000000;
  border-radius: 35px;
  transition: all 0.3s ease-out 100ms;
  font: normal 18px "Open Sans", cursive;
}

.help_content a:hover {
  background-color: #0e5753;
  color: #fff;
  text-decoration: none;
}

.help_img_content {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.help_content p {
  margin-bottom: 20px;
  width: 80%;
}

.help_content h5 {
  color: #254dad;
  margin-top: 20px;
  margin-bottom: 10px;
}

.help_img_box {
  flex-basis: 20%;
  margin: 1%;
  border-radius: 15px;
  overflow: hidden;
}

.help_img_box img {
  width: 100%;
}

.normal_link {
  background-color: #0e575300 !important;
  box-shadow: 0 0 0 0 #0e575300 !important;
  padding: 0px 0px !important;
  border-radius: 0px !important;
  color: #000000 !important;
  transition: all 0.3s ease-out 100ms;
  font: normal 18px "Open Sans", cursive;
}

.normal_link:hover {
  color: #20b2aa !important;
  text-decoration: none;
}

.blog_section .carousel-control-prev,
.blog_section .carousel-control-next {
  top: initial;
  left: initial;
  bottom: 5%;
  right: 10%;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
}

.blog_section .carousel-control-prev {
  background-image: url(../images/prev.png);
  background-color: #254dad;
  -webkit-transform: translate(-85px, 30px);
  transform: translate(5px, 40px);
  transition: background-color 0.3s ease-out 100ms;
}

.blog_section .carousel-control-next {
  background-image: url(../images/next.png);
  background-color: #254dad;
  -webkit-transform: translate(-45px, 0);
  transform: translate(45px, 39px);
  transition: background-color 0.3s ease-out 100ms;
}

.blog_section .carousel-control-prev:hover,
.blog_section .carousel-control-next:hover {
  background-color: #183e7a;
}

.service_section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.service_section .fb-page {
  max-width: 100%;
  height: auto;
  margin-right: 15px;
  border: 3px;
  border-radius: 15px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-out 100ms;
}

.service_section .fb-page:hover {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.35);
}

.service_section .service_container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.service_section .service_container .col-md-4 {
  margin: 25px 1%;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-top: 15px solid transparent;
  overflow: hidden;
  -webkit-transition: all 0.1s;
  transition: all 0.3s;
  background: #eae6f5;
}

.service_section .service_container .box-nouvelles {
  margin: 25px 1%;
  -ms-flex-preferred-size: 31%;
  flex-basis: 20%;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  -webkit-transition: all 0.1s;
  transition: all 0.3s;
  background-color: #eae6f5;
}

.service_section .service_container .box-nouvelles .img-box img {
  width: 100%;
}

.service_section .service_container .box-nouvelles .detail-box p {
  margin-top: 25px;
  font-size: 15px;
}

.service_section .service_container .box-nouvelles .detail-box h5 {
  color: #183e7a;
  font-weight: 600;
  position: relative;
  margin-top: 25px;
}

.box-nouvelles .detail-box-title:hover {
  text-decoration: none;
  color: #183e7a;
}

.service_section .service_container .col-md-4 .img-box img {
  width: 100%;
  margin-bottom: 15px;
}

.service_section .service_container .col-md-4 .detail-box img {
  width: 100%;
  margin-bottom: 15px;
}

.service_section .service_container .col-md-4 .detail-box p {
  margin-top: 25px;
  font-size: 15px;
}

.service_section .service_container .col-md-4 .detail-box h5 {
  color: #183e7a;
  font-weight: 600;
  position: relative;
  margin-top: 25px;
}

.box-contact .detail-box-contact .detail-box-title-contact {
  color: #183e7a;
  font-weight: 600;
  position: relative;
  margin-top: 25px;
  font-size: 20px;
}

.detail-box-title {
  color: #183e7a;
  font-weight: 600;
  position: relative;
  font-size: 18px;
  padding-top: 15px;
}

.detail-box-presentation {
  font-size: 15px;
}

.detail-box-presentation-contact {
  font-size: 15px;
  background-color: #254dad;
  border-radius: 35px;
  padding: 10px;
  color: #fff;
  transition: background-color 0.3s ease-out 100ms;
  display: flex;
  justify-content: center;
}

.detail-box-presentation-contact:hover {
  background-color: #183e7a;
  color: #fff;
  text-decoration: none;
}

.detail-box-presentation-particulier {
  font-size: 13px;
}

.detail-box-presentation-adopted {
  font-size: 15px;
  background-color: #f1dcef;
  border-radius: 35px;
  border-style: solid;
  border-color: #998e8e;
  padding: 10px;
  color: #000;
  transition: background-color 0.3s ease-out 100ms;
  display: flex;
  justify-content: center;
}

.detail-box-presentation-adopted:hover {
  color: #000;
  text-decoration: none;
}

.service_section .service_container .col-md-4:hover,
.service_section .service_container .col-md-4.active {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.65);
  background-color: #c6e2e6;
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #254dad;
  color: #ffffff;
  border-radius: 35px;
}

.service_section .btn-box a:hover {
  background-color: #183e7a;
}

.blog_section .heading_container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blog_section .heading_container h2::before {
  background-color: #ffffff;
}

.blog_section .box {
  margin: 25px 1%;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-top: 15px solid transparent;
  overflow: hidden;
  -webkit-transition: all 0.1s;
  transition: all 0.3s;
  background-color: #eae6f5;
}

.blog_section .box:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.65);
  background-color: #c6e2e6;
}

.blog_section .box-tarifs {
  margin: 25px 1%;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.box-explanation {
  margin: 25px 1%;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-top: 15px solid transparent;
  overflow: hidden;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.blog_section .box .img-box {
  position: relative;
  padding-top: 10px;
}

.blog_section .box .img-box img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog_section .box-tarifs img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  border-style: solid;
  border-color: #998e8e;
  width: 95%;
}

.img-box-particulier img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-box-event img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #925c2f;
  border-radius: 10px;
  overflow: hidden;
}

.img-box-about img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #183e7a;
  border-radius: 10px;
  overflow: hidden;
}

.blog_section .box .detail-box {
  padding: 25px 25px 15px;
  height: 10em;
}

.blog_section .box .detail-box h5 {
  color: #183e7a;
  font-weight: 600;
  position: relative;
}

.contact_section {
  position: relative;
}

.contact_section form {
  margin-top: 45px;
  padding-right: 35px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: transparent;
  outline: none;
  color: #101010;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.contact_section input::-webkit-input-placeholder {
  color: #737272;
}

.contact_section input:-ms-input-placeholder {
  color: #737272;
}

.contact_section input::-ms-input-placeholder {
  color: #737272;
}

.contact_section input::placeholder {
  color: #737272;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  border: none;
  display: inline-block;
  padding: 12px 45px;
  background-color: #254dad;
  color: #ffffff;
  border-radius: 0px;
  margin-top: 35px;
}

.contact_section button:hover {
  background-color: #183e7a;
}

.contact_section .map_container {
  height: 100%;
  min-height: 35rem;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}

.footer_bg {
  background-image: url(../images/footer-bg.png);
  background-size: cover;
  background-position: top;
}

/* info section */
.info_section {
  background-color: #092249;
  color: #ffffff;
}

.info_section h6 {
  font-weight: bold;
}

.info_section .info_contact {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info_section .info_contact .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info_section .info_contact a {
  color: #ffffff;
}

.info_section .info_contact img {
  max-width: 100%;
  margin-right: 10px;
}

.info_section .info_reseau {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info_section .info_reseau .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info_section .info_reseau a {
  color: #ffffff;
}

.info_section .info_reseau img {
  max-width: 100%;
  margin-right: 10px;
}

.info_reseau .reseau {
  margin-left: 30px;
  margin-right: 30px;
}

.info_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.info_section .info_social_text {
  color: #97bdee;
}

.info_section .info_social_text:hover {
  color: #1c8d9e;
}

.info_section .info_social img {
  width: 35px;
  margin-right: 8px;
  align-items: center;
}

.nouvelles-images {
  display: flex;
}

.nouvelles-images .image {
  display: flex;
}

.nouvelles-images .image img {
  width: 200px;
}

/* end info section */
/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.footer_section p {
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.footer_section p a {
  color: #ffffff;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.footer-distributed {
  background: #092249;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 40px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 25px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 100;
  text-decoration: none;
  color: grey;
  font-size: 13px;
}

.footer-distributed .footer-links a:hover {
  color: #ffffff;
}

.footer-distributed .footer-company-name {
  color: lightseagreen;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #ffffff;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center a {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 10px;
}

.footer-distributed .footer-center a span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
  text-align: center;
}

.footer-right .footer-icons img {
  margin-left: 5px;
  margin-right: 5px;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 15px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
}

.footer-distributed .footer-left img {
  width: 100px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.footer-center .fa-phone:hover {
  color: #ffffff;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1100px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

.sos {
  font-weight: 600;
  color: #830f0f;
}

#tarifs {
  color: #254dad;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  transition: text-decoration 0.3s ease-out 100ms;
}

#tarifs:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
