body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #eae6f5;
}

.layout_padding {
  padding-top: 1em;
  padding-bottom: 2em;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-right: 10px;
  color: #092249;
}

.heading_container img {
  width: 30px;
}

/*header section*/
.hero_area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #eae6f5;
}

.sub_page .hero_area {
  height: auto;
}

.header_section .container {
  padding: 0;
}

.header_section .nav_container {
  margin: 0 auto;
}

.nav-item.active {
  background-color: #97bdee;
  border-radius: 35px;
  color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.nav-item:hover {
  transition: background-color 0.3s ease-out 100ms;
  background-color: #183e7a;
  border-radius: 35px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.nav-link:hover,
.nav-link-deroulant:hover {
  color: #ffffff;
}

.custom_nav-container .nav-link,
.custom_nav-container .nav-link-deroulant {
  padding: 7px 20px;
  margin: 10px 15px;
  text-align: center;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 13px;
}

.nav-link,
.nav-link-deroulant {
  color: #000000;
}

.sous-deroulant {
  display: none;
  box-shadow: 0px 1px 2px #0c0c0c;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.navbar-nav > ul li .sous-deroulant {
  display: block;
}

.navbar-nav ul li {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

.sous-deroulant li {
  float: none;
  width: 100%;
  text-align: center;
}

.sous-deroulant a {
  padding: 10px;
  border-bottom: none;
}

.sous-deroulant a:hover {
  border-bottom: none;
  background-color: rgba(200, 200, 200, 0.1);
}

.nav-link-deroulant > a::after {
  content: " ▼";
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand img {
  margin-right: 5px;
  width: 35px;
}

.navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: #092249;
}

.custom_nav-container {
  z-index: 99999;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #092249;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
  transform: none;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
  color: #3b3a3a;
  padding-bottom: 90px;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .detail_box {
  color: #000000;
}

.slider_section .detail_box h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #092249;
}

.slider_section .detail_box p {
  margin-top: 20px;
}

.slider_section .detail_box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #254dad;
  color: #ffffff;
  border-radius: 35px;
  margin-top: 35px;
  transition: background-color 0.3s ease-out 100ms;
}

.slider_section .detail_box a:hover {
  background-color: #183e7a;
  text-decoration: none;
}

.slider_section .img_container {
  border: 2px;
  border-radius: 100%;
  box-shadow: 0 0 10px 0 rgba(9, 34, 73, 10);
  overflow: hidden;
  transition: box-shadow 0.3s ease-out 100ms;
}

.slider_section .img_container:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.65);
}

.slider_section .img_container div#carouselExampleContarols {
  width: 100%;
  position: unset;
}

.slider_section .img_container .img-box img {
  width: 100%;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  top: initial;
  left: initial;
  bottom: 5%;
  right: 10%;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
}

.slider_section .carousel-control-prev {
  background-image: url(../images/prev.png);
  background-color: #254dad;
  -webkit-transform: translate(-85px, 30px);
  transform: translate(-85px, 30px);
  transition: background-color 0.3s ease-out 100ms;
}

.slider_section .carousel-control-next {
  background-image: url(../images/next.png);
  background-color: #254dad;
  -webkit-transform: translate(-45px, 0);
  transform: translate(-45px, 0);
  transition: background-color 0.3s ease-out 100ms;
}

.slider_section .carousel-control-prev:hover,
.slider_section .carousel-control-next:hover {
  background-color: #183e7a;
}

.about_section .carousel-control-prev,
.about_section .carousel-control-next {
  top: initial;
  left: initial;
  bottom: 5%;
  right: 10%;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
}

.about_section .carousel-control-prev {
  background-image: url(../images/prev.png);
  background-color: #925c2f;
  -webkit-transform: translate(-85px, 30px);
  transform: translate(-800px, -500%);
  transition: background-color 0.3s ease-out 100ms;
}

.about_section .carousel-control-next {
  background-image: url(../images/next.png);
  background-color: #925c2f;
  -webkit-transform: translate(-45px, 0);
  transform: translate(-170px, -500%);
  transition: background-color 0.3s ease-out 100ms;
}

.about_section .carousel-control-prev:hover,
.about_section .carousel-control-next:hover {
  background-color: #684121;
}

.blog_section .carousel-control-prev,
.blog_section .carousel-control-next {
  top: initial;
  left: initial;
  bottom: 5%;
  right: 10%;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
}

.blog_section .carousel-control-prev {
  background-image: url(../images/prev.png);
  background-color: #254dad;
  -webkit-transform: translate(-85px, 30px);
  transform: translate(5px, 40px);
  transition: background-color 0.3s ease-out 100ms;
}

.blog_section .carousel-control-next {
  background-image: url(../images/next.png);
  background-color: #254dad;
  -webkit-transform: translate(-45px, 0);
  transform: translate(45px, 39px);
  transition: background-color 0.3s ease-out 100ms;
}

.blog_section .carousel-control-prev:hover,
.blog_section .carousel-control-next:hover {
  background-color: #183e7a;
}

.service_section {
  text-align: center;
}

.service_section .fb-page {
  max-width: 100%;
  height: auto;
  margin-right: 15px;
  border: 3px;
  border-radius: 15px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-out 100ms;
}

.service_section .fb-page:hover {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.35);
}

.service_section .heading_container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.service_section .service_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 35px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service_section .service_container .box {
  margin: 25px 1%;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-top: 15px solid transparent;
  overflow: hidden;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.service_section .service_container .box .img-box img {
  width: 100%;
  margin-bottom: 15px;
}

.service_section .service_container .box .detail-box p {
  margin-top: 25px;
  font-size: 15px;
}

.service_section .service_container .box .detail-box h5 {
  color: #183e7a;
  font-weight: 600;
  position: relative;
  margin-top: 25px;
}

.box-contact .detail-box-contact .detail-box-title-contact {
  color: #183e7a;
  font-weight: 600;
  position: relative;
  margin-top: 25px;
  font-size: 20px;
}

.detail-box-title {
  color: #183e7a;
  font-weight: 600;
  position: relative;
  font-size: 18px;
  padding-top: 15px;
}

.detail-box-presentation {
  font-size: 15px;
  height: 90px;
}

.detail-box-presentation-contact {
  font-size: 15px;
  background-color: #254dad;
  border-radius: 35px;
  padding: 10px;
  color: #fff;
  transition: background-color 0.3s ease-out 100ms;
  display: flex;
  justify-content: center;
}

.detail-box-presentation-contact:hover {
  background-color: #183e7a;
  color: #fff;
  text-decoration: none;
}

.detail-box-presentation-particulier {
  font-size: 13px;
}

.detail-box-presentation-adopted {
  font-size: 15px;
  background-color: #c73389;
  border-radius: 35px;
  padding: 10px;
  color: #fff;
  transition: background-color 0.3s ease-out 100ms;
  display: flex;
  justify-content: center;
}

.detail-box-presentation-adopted:hover {
  background-color: #942767;
  color: #fff;
  text-decoration: none;
}

.service_section .service_container .box:hover,
.service_section .service_container .box.active {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #254dad;
  color: #ffffff;
  border-radius: 35px;
}

.service_section .btn-box a:hover {
  background-color: #183e7a;
}

.about_section {
  background-color: #c6e2e6;
}

.about_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_section .img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about_section .img_container .img-box {
  border: 5px solid #97bdee;
  border-radius: 100%;
  overflow: hidden;
}

.about_section .img_container .img-box.b1 {
  width: 50%;
}

.about_section .img_container .img-box.b2 {
  width: 30%;
  margin-left: auto;
  margin-top: -50%;
}

.about_section .img_container .img-box img {
  width: 100%;
}

.about_section .detail-box {
  text-align: center;
}

.about_section .detail-box h5 {
  position: relative;
  margin-right: 8px;
  color: #183e7a;
}

.about_section .detail-box p {
  margin-top: 25px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #254dad;
  color: #ffffff;
  border-radius: 35px;
  margin-top: 20px;
  margin-bottom: 35px;
  transition: background-color 0.3s ease-out 100ms;
}

.about_section .detail-box a:hover {
  background-color: #183e7a;
  text-decoration: none;
}

.blog_section .heading_container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blog_section .heading_container h2::before {
  background-color: #ffffff;
}

.blog_section .box {
  margin: 25px 1%;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-top: 15px solid transparent;
  overflow: hidden;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.blog_section .box:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
}

.box-explanation {
  margin: 25px 1%;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-top: 15px solid transparent;
  overflow: hidden;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.blog_section .box .img-box {
  position: relative;
  padding-top: 10px;
}

.blog_section .box .img-box img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-box-particulier img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-box-event img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #925c2f;
  border-radius: 10px;
  overflow: hidden;
}

.img-box-about img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #183e7a;
  border-radius: 10px;
  overflow: hidden;
}

.blog_section .box .detail-box {
  padding: 25px 25px 15px;
}

.blog_section .box .detail-box h5 {
  color: #183e7a;
  font-weight: 600;
  position: relative;
}

.contact_section {
  position: relative;
}

.contact_section form {
  margin-top: 45px;
  padding-right: 35px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: transparent;
  outline: none;
  color: #101010;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.contact_section input::-webkit-input-placeholder {
  color: #737272;
}

.contact_section input:-ms-input-placeholder {
  color: #737272;
}

.contact_section input::-ms-input-placeholder {
  color: #737272;
}

.contact_section input::placeholder {
  color: #737272;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  border: none;
  display: inline-block;
  padding: 12px 45px;
  background-color: #254dad;
  color: #ffffff;
  border-radius: 0px;
  margin-top: 35px;
}

.contact_section button:hover {
  background-color: #183e7a;
}

.contact_section .map_container {
  height: 100%;
  min-height: 325px;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}

.footer_bg {
  background-image: url(../images/footer-bg.png);
  background-size: cover;
  background-position: top;
}

/* info section */
.info_section {
  background-color: #092249;
  color: #ffffff;
}

.info_section h6 {
  font-weight: bold;
}

.info_section .info_contact {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info_section .info_contact .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info_section .info_contact a {
  color: #ffffff;
}

.info_section .info_contact img {
  max-width: 100%;
  margin-right: 10px;
}

.info_section .info_reseau {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info_section .info_reseau .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info_section .info_reseau a {
  color: #ffffff;
}

.info_section .info_reseau img {
  max-width: 100%;
  margin-right: 10px;
}

.info_reseau .reseau {
  margin-left: 30px;
  margin-right: 30px;
}

.info_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.info_section .info_social_text {
  color: #97bdee;
}

.info_section .info_social_text:hover {
  color: #1c8d9e;
}

.info_section .info_social img {
  width: 35px;
  margin-right: 8px;
  align-items: center;
}

/* end info section */
/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.footer_section p {
  color: #222222;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.footer_section p a {
  color: #222222;
}
/*# sourceMappingURL=style.css.map */
